In [1]:
import numpy as np
import pandas as pd
import ast

In [2]:
data = pd.read_csv("archive\movies_metadata.csv", low_memory=False)

In [3]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [5]:
data.production_companies

0           [{'name': 'Pixar Animation Studios', 'id': 3}]
1        [{'name': 'TriStar Pictures', 'id': 559}, {'na...
2        [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
3        [{'name': 'Twentieth Century Fox Film Corporat...
4        [{'name': 'Sandollar Productions', 'id': 5842}...
                               ...
45461                                                   []
45462               [{'name': 'Sine Olivia', 'id': 19653}]
45463    [{'name': 'American World Pictures', 'id': 6165}]
45464                 [{'name': 'Yermoliev', 'id': 88753}]
45465                                                   []
Name: production_companies, Length: 45466, dtype: object

In [6]:
data = data[['adult', 'genres', 'original_language', 'title', 'overview', 'release_date', 'production_companies', 'production_countries', 'vote_average', 'vote_count', 'runtime']]

In [7]:
data.head()

,adult,genres,original_language,title,overview,release_date,production_companies,production_countries,vote_average,vote_count,runtime
0,False,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",7.7,5415.0,81.0
1,False,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",6.9,2413.0,104.0
2,False,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",6.5,92.0,101.0
3,False,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995-12-22,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",6.1,34.0,127.0
4,False,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995-02-10,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",5.7,173.0,106.0

In [8]:
data['original_language'] = pd.factorize(data['original_language'])[0]
data['release_date'] = pd.to_datetime(data['release_date'],  errors='coerce').dt.year

In [9]:
data = data.dropna()

In [10]:
def extract_ids_from_keywords_list(df_column):
    words_list = []
    for keywords_str in df_column:
        keywords_list = ast.literal_eval(keywords_str)  # Преобразование строки в список словарей
        words = [keyword['id'] for keyword in keywords_list]
        words_list.append(words)
    return words_list
def extract_words_from_keywords_list(df_column):
    words_list = []
    for keywords_str in df_column:
        keywords_list = ast.literal_eval(keywords_str)  # Преобразование строки в список словарей
        words = [keyword['name'] for keyword in keywords_list]
        words_list.append(words)
    return words_list

In [11]:
data['genres'] = extract_ids_from_keywords_list(data['genres'])
data['production_companies'] = extract_ids_from_keywords_list(data['production_companies'])
data['production_countries'] = extract_words_from_keywords_list(data['production_countries'])

In [12]:
data

,adult,genres,original_language,title,overview,release_date,production_companies,production_countries,vote_average,vote_count,runtime
0,False,"[16, 35, 10751]",0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995.0,[3],[United States of America],7.7,5415.0,81.0
1,False,"[12, 14, 10751]",0,Jumanji,When siblings Judy and Peter discover an encha...,1995.0,"[559, 2550, 10201]",[United States of America],6.9,2413.0,104.0
2,False,"[10749, 35]",0,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995.0,"[6194, 19464]",[United States of America],6.5,92.0,101.0
3,False,"[35, 18, 10749]",0,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",1995.0,[306],[United States of America],6.1,34.0,127.0
4,False,[35],0,Father of the Bride Part II,Just when George Banks has recovered from his ...,1995.0,"[5842, 9195]",[United States of America],5.7,173.0,106.0
...,...,...,...,...,...,...,...,...,...,...,...
45460,False,"[18, 28, 10749]",0,Robin Hood,"Yet another version of the classic epic, with ...",1991.0,"[7025, 10163, 16323, 38978]","[Canada, Germany, United Kingdom, United State...",5.7,26.0,104.0
45462,False,[18],57,Century of Birthing,An artist struggles to finish his work while a...,2011.0,[19653],[Philippines],9.0,3.0,360.0
45463,False,"[28, 18, 53]",0,Betrayal,"When one of her hits goes wrong, a professiona...",2003.0,[6165],[United States of America],3.8,6.0,90.0
45464,False,[],0,Satan Triumphant,"In a small town live two brothers, one a minis...",1917.0,[88753],[Russia],0.0,0.0,87.0
45465,False,[],0,Queerama,50 years after decriminalisation of homosexual...,2017.0,[],[United Kingdom],0.0,0.0,75.0